button {
  background-color: #ff0000;
  display: flex;
  align-items: center;
  justify-content: center;

  &.active {
    box-shadow: 0px 0px 8px 0px rgba(255, 0, 0, 1);
  }

  &:hover {
    background-color: #ff0000a8;
  }

  &:disabled {
    background-color: #b1b1b1;
  }
}

.search__button {
  width: 80px;
  height: 34px;
  border-radius: 0 7px 7px 0;
}

.item__button {
  width: 120px;
  height: 32px;
}

.img__btn {
  background-color: #ff0000;
  padding: 5px;
}

.sort__btn {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8px;
  font-weight: bold;

  &:hover {
    background-color: #3f3f3f;
  }
}

.plus__btn {
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

.header__icon-btn {
  background-color: transparent;

  &:hover {
    background-color: transparent;
  }
}
