<div class="user">
  <app-button
    *ngIf="auth.isLoggedIn.value"
    [customClass]="'item__button'"
    (buttonClick)="redirectToAdmin()"
    [title]="'Admin page'"
    [buttonTemplate]="adminBtnTemplate"
  >
    <ng-template #adminBtnTemplate>Admin</ng-template>
  </app-button>
  <div class="header__user">
    <div *ngIf="auth.isLoggedIn.value" class="user__name">{{ auth.login.value }}</div>
    <a routerLink="favorites">
      <app-button [customClass]="'img__btn'" *ngIf="auth.isLoggedIn.value" [buttonTemplate]="favoriteBtnTemplate">
        <ng-template #favoriteBtnTemplate>
          <img src="assets/favotiteBtnIcon.png" alt="exitIcon" class="btn__icon" />
        </ng-template>
      </app-button>
    </a>
    <app-button
      *ngIf="!auth.isLoggedIn.value; else loggedIn"
      [customClass]="'img__btn'"
      [title]="'Login'"
      [buttonTemplate]="loginBtnTemplate"
    >
      <ng-template #loginBtnTemplate>
        <img src="assets/loginIcon.png" alt="exitIcon" class="btn__icon" />
      </ng-template>
    </app-button>
    <ng-template #loggedIn>
      <app-button
        [customClass]="'img__btn'"
        (buttonClick)="logout()"
        [title]="'Logout'"
        [buttonTemplate]="logoutBtnTemplate"
      >
        <ng-template #logoutBtnTemplate>
          <img src="assets/exiIcon.svg" alt="exitIcon" class="btn__icon" />
        </ng-template>
      </app-button>
    </ng-template>
    <app-button [customClass]="'img__btn'" *ngIf="auth.isLoggedIn.value" [buttonTemplate]="userBtnTemplate">
      <ng-template #userBtnTemplate>
        <img src="assets/userIcon.png" alt="youTubeIcon" class="btn__icon" />
      </ng-template>
    </app-button>
  </div>
</div>
