.header {
  display: flex;
  align-items: center;
  padding: 20px 0;
  justify-content: space-between;
  gap: 30px;

  .header__search {
    max-width: 570px;
    width: 100%;
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    align-items: center;
  }
}
