<app-button
  [customClass]="'header__icon-btn'"
  [title]="'Main page'"
  (buttonClick)="navigateToMain()"
  [buttonTemplate]="mainPageBtnTemplate"
>
  <ng-template #mainPageBtnTemplate>
    <img src="assets/youTubeIcon.png" alt="youTubeIcon" class="header__icon-img" />
  </ng-template>
</app-button>
<div class="search__block">
  <input
    #searchInput
    type="text"
    name="search"
    id="search"
    placeholder="What are you want to find out?"
    (input)="search(searchInput.value)"
  />
</div>
<app-button [customClass]="'img__btn'" (buttonClick)="toggleFiltersBtn()" [buttonTemplate]="settingsTemplate">
  <ng-template #settingsTemplate>
    <img src="assets/searchSettingIcon.png" alt="youTubeIcon" class="btn__icon" />
  </ng-template>
</app-button>
