.top-container {
  max-width: 860px;
  display: flex;
  align-items: center;
}

.sort-section {
  justify-content: flex-start;

  .sort__container {
    column-gap: 30px;
    justify-content: flex-end;
  }

  .sort__input {
    column-gap: 10px;
  }

  input {
    max-width: 150px;
    width: 100%;
  }
}

.sort__container,
.sort__input {
  display: flex;
  align-items: center;
}
