<div class="icons-video">
  <ng-container *ngIf="statistics">
    <div class="icon-block">
      <img src="assets/eyeIcon.png" alt="" />
      <div class="">{{ statistics.viewCount }}</div>
    </div>
    <div class="icon-block">
      <img src="assets/likesIcon.png" alt="" />
      <div class="">{{ statistics.likeCount }}</div>
    </div>
    <div class="icon-block">
      <img src="assets/dislikesIcon.png" alt="" />
      <div class="">{{ statistics.dislikeCount }}</div>
    </div>
    <div class="icon-block">
      <img src="assets/commentIcon.png" alt="" />
      <div class="">{{ statistics.commentCount }}</div>
    </div>
  </ng-container>
</div>
